/* Reset y estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EDF9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor principal */
.login-container {
    display: flex;
    flex-direction: row;
    /* Asegura que la imagen esté a la izquierda */
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 80%;
    height: 500px;
}

/* Sección de la imagen */
.image-section {
    flex: 1;
    background-color: #EDF9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    /* Asegura que la imagen mantenga proporciones */
}

/* Sección del formulario */
.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #005792;
    outline: none;
}

/* Botón de inicio de sesión */
button {
    padding: 15px;
    background-color: #005792;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00406A;
}

.register-text {
    margin-top: 10px;
    text-align: center;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}